<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
		<title>{% block title %}{{ sitename }}{% endblock title %}</title>
		<!--[if lte IE 10]>
		<div class="old-browsers">Page broken. Upgrade your browser or make a switch to something better.</div>
	  	<![endif]-->
		<!-- Define charset -->
		<meta charset="utf-8" />
		<!-- End Define charset -->
		<!-- Define viewport -->
		<meta name=viewport id="viewport" content="width=device-width, initial-scale=1">
		<!-- Define viewport -->
		<!-- Favicon -->
		<link rel="shortcut icon" href="/css/favicon.png">
		<!-- End Favicon -->
		<!-- Font loading -->
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
		</style>
		<!-- End font loading -->
		<!-- Load CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-light.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<!-- End Load CSS -->
		{% endblock head %}
	</head>
	<body>
		<nav id="nav" class="nav">
			<ul>
				{% if menuitems %}
				{% for title, link in menuitems.items() %}
				<li id="nav_{{ title }}" title="{{ title }}">
					<a class="nav_{{ title }} nav_link {% if ( title == "ifk" and page_name == "ifk" ) or ( title == "arkiv" and page_name == "arkiv" ) or ( title == "projekt" and page_name == "projekt") or ( title == "kontakt" and page_name == "kontakt" ) or ( title == "om" and page_name == "om" ) %}activeMenu{% endif %}" title="{{ title }}" {% if ( title==home ) %} href="/" {% else %} href="/{{link}}/" {% endif %}>
						{{title}}
					</a>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
		</nav>

		<main id="main" class="main">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			<ul class="icons">
				<li><a href="https://www.facebook.com/ingenjorsarbeteforklimatet/" target="_blank"><span data-feather="facebook">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/ingenjorsarbeteforklimatet/" target="_blank"><span data-feather="instagram">Instagram</span></a></li>
				<li><a href="https://github.com/Ingenjorsarbete-For-Klimatet/" target="_blank"><span data-feather="github">GitHub</span></a></li>
			</ul>
			<ul>
				<li><p>Uppdaterad {{build_date.strftime("%Y-%m-%d")}}</p></li>
				<li><p>&copy; IFK</p></li>
			</ul>
		</footer>
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python-repl.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/bash.min.js"></script>
	<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
	<script src="https://unpkg.com/feather-icons"></script>
	<script>
		feather.replace();
		hljs.highlightAll();
		hljs.addPlugin(
			new CopyButtonPlugin({
				callback: (text, el) => console.log("Copied to clipboard", text),
			})
		);
	</script>
</html>
