{% extends "base/base.html" %}
{% block title %}{{ sitename }} - Arkiv{% endblock %}
{% block content %}
{% set pageName = "arkiv" %}
        <div id="page_{{pageName}}" class="page" {% if pageName !=pageName %}style="display: none" {% endif %}>
            <div id="content_{{pageName}}" class="content {% if pageName == pageName %}ajaxHook{% endif %}">
                <div id="ajax_content_{{pageName}}" class="ajax_content">
                    <div class="entry-content-page hyphenate">
                        {{ pages[title+".md"].content }}

                        <ol id="post-list" class="ordered-list" data-list-length="{{ articles|count }}">
                            {% for article in articles %}
                            {% include 'base/archive_kernel.html' %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}