{% extends "base/base.html" %}
{% block head %}
{{ super() }}

{% for tag in meta.tags %}
<meta name="tags" contents="{{tag}}" />
{% endfor %}

{% endblock %}
{% block content %}
{% set pageName = "archive" %}
{% if menuitems %}
{% for title, link in menuitems.items() %}
{% if title == "archive" %}
        <div id="page_{{title}}" class="page" {% if title !=pageName %}style="display: none" {% endif %}>
            <div id="content_{{title}}" class="content {% if title == pageName %}ajaxHook{% endif %}">
                <div id="ajax_content_{{title}}" class="ajax_content">
                    {% include 'base/article_kernel.html' %}
                </div>
            </div>
        </div>
{% else %}
        <div id="page_{{title}}" class="page" {% if title !=pageName %}style="display: none" {% endif %}>
            <div id="content_{{title}}" class="content {% if title == " pageName" %}ajaxHook{% endif %}">
                <script>
                    $("#content_{{title}}").load("/{{ link }} #ajax_content_{{title}}");
                </script>
            </div>
        </div>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}