/* Style
Name: ifk
Author: Mladen Gibanica
Site: ingenjorsarbeteforklimatet.se
Version: 0.1
*/

html, body {
    margin: 0;
    padding: 0;
}

/* Menu */
#nav {
    font-family: "Rubik", "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin: 40px auto;
    padding: 0 40px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

.nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.nav li {
    float: left;
    height: 50px;
    position: relative;
}

.nav a,
.nav a:visited {
    color: #000;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background: rgba(240,240,240,0.75);
}

.nav a:hover {
    color: #f0f0f0;
    background: #000;
}

.nav a.activeMenu {
    color: #f0f0f0;
    background: #000;
}
/* End Menu */

a {
    text-decoration: none;
}

/* Footer */
#footer {
    font-family: "Rubik", "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin: 40px auto;
    padding: 0 40px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

#footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
}

#footer li {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

#footer li a, #footer li p {
    padding: 0 20px;
}
/* End Footer */

/* Content */
#main {
    margin: 0 40px;
    font-size: 1.2em;
    font-family: "Rubik", "Helvetica-Neue", Helvetica, sans-serif;
}

#main .page {
    margin: 0 auto;
    max-width: 960px;
}

#main .page p {
    line-height: 1.75;
}
/* End Content */

ol {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

article .entry-title {
    display: inline;
}

article h1, h1 {
    font-size: 2em;
}

.main .hentry {
    padding: 10px 0;
}

a, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    transition: all 0.25s;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

p a, p a:visited {
    text-decoration: underline;
}

.post-image-left {
    float: left;
    max-width: 300px;
    padding-right: 20px;
}

.post-image-left img {
    width: 300px;
}

/* highlight.js */
.hljs {
    background: rgba(245,242,240,0.8) !important;
    font-family: "Inconsolata", monospace !important;
}

code[class*="language-"] {
    font-family: "Inconsolata", monospace !important;
    white-space: pre-wrap;
}

.hljs-copy-button {
    background-color: #888 !important;
}

/* End highlight.js */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    body {
        font-size: 0.9em;
    }

    #nav, #footer {
        padding: 0 10px;
    }

    #main {
        margin: 0 10px;
    }

    .nav a,
    .nav a:visited {
        padding: 0 10px;
    }

    #footer li a, #footer li p {
        padding: 0 10px;
    }

    .post-image-left {
        float: left;
        max-width: 100%;
        padding-right: 20px;
    }

    .post-image-left img {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    body {
        font-size: 0.9em;
    }

    #nav, #footer {
        padding: 0 10px;
    }

    #main {
        margin: 0 10px;
    }

    .nav a,
    .nav a:visited {
        padding: 0 10px;
    }

    #footer li a, #footer li p {
        padding: 0 10px;
    }

    .post-image-left {
        float: left;
        max-width: 100%;
        padding-right: 20px;
    }

    .post-image-left img {
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #nav, #footer {
        padding: 0 20px;
    }

    #main {
        margin: 0 20px;
    }

    .nav a,
    .nav a:visited {
        padding: 0 15px;
    }

    #footer li a, #footer li p {
        padding: 0 15px;
    }

    .post-image-left {
        float: left;
        max-width: 300px;
        padding-right: 20px;
    }

    .post-image-left img {
        width: 300px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
